/* Основные стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #64a754;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #165a06;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

p {
    font-size: 16px;
    color: #fff; /* Меняем цвет текста на белый */
    margin-bottom: 20px;
}

.links a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #0056b3;
}
